*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;

}

body{
    // background-color: #1d1d1d;
    background: linear-gradient(rgba(5,7,12,0.7),rgba(5,7,12,0.7)), url("../../images/technology.gif");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 4rem;
}

p{
    color: #909096
}

@import"base/index";