header{
    max-width: 20vh;
    position: fixed;
}

.side-menu{
    border: solid 2px black;
    box-shadow: 5px 5px 10px black;
    background-color: #181818;
    height: 100vh;
    .nombre{
        background-color: #181818;
        height: 180px;
        a{
            h2{
                text-align: center;
                padding: 1rem;
                padding-top: 3rem;
                color: #909096;
                text-transform: capitalize;
                font-size: 1.8rem;
            }
        }
        a:hover{
            text-decoration: none;
        }
        
    }
    ul{
        text-align: center;
        border-top: solid 1px #282828;
        margin-top: 0.5rem;
        li{
            list-style: none;
            margin-bottom: 0.5rem;
            padding: 0.5rem 0;
            border-bottom: solid 1px #282828;
            a{
                color: #909096;
                font-size: 1.1rem;
            }
            a:hover{
                text-decoration: none;
                color: #08fdd8;
            }
        }
    }
    
}

main{
    margin-left: 20.5vh;
}

.presentation{
    text-align: left;
    padding: 90px 0px;
    padding-bottom: 80px;
    min-height: 100vh;
    background-image: url("../images/fondo-presentation-portfolio.jpg");
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);

    .presentation-container{
        padding-left: 50px;
        max-width: 40vw;
        h2{
            text-transform: capitalize;
            color: #08fdd8;
            font-size: 4.5rem;
            font-weight:bold;
            display: block;
            white-space: nowrap;
            width: 5ch;

            animation: typing 1s steps(25), blink .5s infinite step-end alternate;
            overflow: hidden;
        }
        .tobias{
            width: 8.5ch;
            animation: typing 1s steps(25), blink .5s infinite step-end alternate;
            overflow: hidden;
        }
        .developer{
            // border-right: 4px solid;
            width: 14ch;
            animation: typing 2s steps(25), blink .5s infinite step-end alternate;
            overflow: hidden;
        }

        @keyframes typing {
            from {width: 0;}
        }

        @keyframes blink {
            50% {border-color: transparent;}
        }

        
        p{
            margin-top: 30px;
            margin-bottom: 15px;
            color: #909096;
            font-size: 1.5rem;
            font-weight: bold;
        }
        a{
            color: #08fdd8;
            font-size: 14px;
            letter-spacing: 4px;
            font-family: "Open Sans",sans-serif;
            text-decoration: none;
            margin-top: 20px;
            position: relative;
            width: 100%;
            max-width: 220px;
            min-height: 50px;
            line-height: 50px;
            display: inline-block;
            text-align: center;
            background-color:#1D1D1D ;
            border:solid 1px #08fdd8;
            border-radius: 5px;
        }
        a:hover{
            background-color: #16EFD8;
            color: #1D1D1D;
            transition: all 1s ease;
        }
    }
}

.about-me{
    padding: 100px 0;
    padding-bottom: 90px;
    .about-me-container{
        margin-bottom: 40px;
        padding: 0 30px;
        padding-left: 80px;
        h2{
            color: #08fdd8;
            margin-bottom: 2rem;
            text-align: center;
        }
        p{
            margin-bottom: 2rem;
            padding-left: 0.5rem;
        }
        .my-studies{
            margin-top: 3rem;
            h3{
                text-transform:capitalize;
                font-size: 3rem;
                font-weight: bold;
                color: #08fdd8;
                margin-bottom: 2rem;
                // text-align: center;
            }
        }
    }
}


.my-portfolio{
    padding: 100px 0;
    padding-bottom: 90px;
    .portfolio-container{
        .portfolio-container-text{
            margin-bottom: 40px;
            padding: 0 30px;
            padding-left: 80px;
            h2{
                color: #08fdd8;
                margin-bottom: 2rem;
                text-align: center;
            }
            p{
                margin-bottom: 2rem;
                padding-left: 0.5rem;
            }
        }
        
    }

    .our-projects{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        margin: 2rem 0;
        div{
            margin: 0.5rem;
            background-color: #282828;
            padding: 1.5rem 0;
            border: solid 2px #909096;
            border-radius: 10px;
            img{
                height: 180px;
                object-fit: cover;
                padding: .8rem;
                border-radius: 10px;
            }
            h4{
                color: #909096;
                margin: 0.8rem 0;
                margin-bottom: 1.2rem;
                font-weight: bold;
            }
            a{
                color: #909096;
                border: solid 1px #909096;
                padding: 0.5rem;
                border-radius: 5px;
                font-weight: bold;
            }
            a:hover{
                text-decoration: none;
                color: #08fdd8;
            }
        }
        
    }
}

.my-skills{
    padding: 0px 30px;
    padding-bottom: 90px;
    .my-knowledge{
        padding-left: 50px;
        margin-bottom: 40px;
        h2{
            color: #08fdd8;
            text-align: center;
        }
        h3{
            text-transform:capitalize;
            font-size: 3rem;
            font-weight: bold;
            color: #08fdd8;
            margin-bottom: 2rem;
            text-align: center;
        }
        .technologies, .certificates{
            margin-top: 3rem;
        }
        .technologies{
            h3{
                margin-bottom: 3rem;
            }
            ul{
                margin: 1.5rem 0 0 8rem;
                li{
                    color: #909096;
                    font-weight: bold;
                }
            }
        }
        .certificates{
            text-align: center;
            display: grid;
            grid-template-columns: repeat(1,1fr);

            h3{
                margin-bottom: 2rem;
            }

            div{
                margin: 1rem;
                background-color: #282828;
                border: solid 2px #909096;
                border-radius: 10px;
                padding: 1.5rem;
                img{
                    height: 200px;
                    border-radius: 10px;
                    margin-bottom: 1rem;
                }
                h4{
                    color: #909096;
                    margin-bottom: 1rem;
                    font-weight: bold;
                }
                a{
                    color: #909096;
                    border: solid 1px #909096;
                    border-radius: 5px;
                    padding: 0.5rem;
                    margin-bottom: 1rem;
                    font-weight: bold;
                }
                a:hover{
                    text-decoration: none;
                    color: #08fdd8;
                }
            }
            
        }
    }
}

.contact{
    border:solid 2px #909096;
    border-radius: 10px;
    background-color: #282828;
    padding: 2rem;
    margin: 0 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    h2{
        text-align: center;
        color: #08fdd8;
        margin-bottom: 2rem;
    }
    div{
        text-align: center;
        form{
            text-align: center;
            input, textarea{
                width: 400px;
                margin: .5rem;
                padding: .5rem;
                border-radius: 5px;
            }
            button{
                color: #08fdd8;
                font-size: 14px;
                letter-spacing: 4px;
                font-family: "Open Sans",sans-serif;
                text-decoration: none;
                margin-top: 20px;
                position: relative;
                width: 100%;
                max-width: 220px;
                min-height: 50px;
                line-height: 50px;
                display: inline-block;
                text-align: center;
                background-color:#1D1D1D ;
                border:solid 1px #08fdd8;
                border-radius: 5px;
            }
            button:hover{
                background-color: #16EFD8;
                color: #1D1D1D;
                transition: all 1s ease;
            }
        }    
    }
    
}

footer{
    margin-left: 20vh;
    color: #909096;
    background-color: #181818;
    border-top: solid 2px;
    .redes{
        padding-top: 1rem;
        margin-bottom: 1rem;
        a{
            color:#909096;
            i{
                font-size: 2rem;
                margin: 0 1rem;
                margin-top: 1.5rem
            }
        }
        a:hover{
            color: #08fdd8;
        }
        
    }
    .copy{
        text-align: center;
        padding-top: 1.5rem;
        font-weight: bold;
        // font-size: 0.8rem;
        i{
            margin-right: 0.5rem;
        }
    }
}

@media(max-width:1200px){
    .portfolio-container{
        text-align: center;
        .our-projects{
            margin-left: 1rem;
            grid-template-columns: repeat(2,1fr);
            div{
                img{
                    height: 160px;
                }
            }
        }
    }

    .my-skills{
        .my-knowledge{
            h2{
                font-size: 2.8rem;
            }
            h3{
                font-size: 2.3rem;
            }
            .technologies{
                ul{
                    margin: 1.5rem 0 0 5rem;
                }
            }
        }
        
    }
}

@media(max-width:767px){
    header{
        // width: 10vh;
        // a{
        //     font-size: 0.6rem;
        // }
        display: none;
    }

    .side-menu{
        a{
            h2{
                font-size: 1.5rem;
            }
        }
    }

    main{
        margin-left: 0;
        width: auto;
    }

    .presentation{
        text-align:center;
        width: auto;
        padding: 40px 0;
        min-height: 70vh;
        .presentation-container{
            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.2rem;
            }
        }
    }


    .about-me{
        text-align: center;
        .about-me-container{
            .my-studies{
                h3{
                    font-size: 2.5rem;
                }
            }
        }
    }

    .my-portfolio{
        .portfolio-container{
            text-align: center;
            .our-projects{
                margin-left: 1rem;
                grid-template-columns: repeat(1,1fr);
                div{
                    img{
                        height: 160px;
                    }
                }
            }
            .portfolio-container-text{
                h2{
                    font-size: 3rem;
                }
            }
        }
    }
    
    .my-skills{
        .my-knowledge{
            h2{
                font-size: 3rem;
            }
        }
    }
}

footer{
    margin-left: 0;
}